/*23.google web font지정*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Nanum+Gothic&display=swap');
body{
    font-family: 'Karla','Nanum Gothic', sans-serif;
}
:root{
    --blue:#76C0F4;
    --lightblue:#B1E2F4;
    --gray:#878787;
}
/*5.캐로셀 안의 이미지 사이즈를 동일하게 맞추거나 화면높이에 이미지 높이 맞추기위해 img태그를 삭제하고 .carousel-item에 이미지를 css로 넣고 코딩으로 사이즈를 맞추기*/

/*10.캐로셀 밖으로 인디케이터 흘러 넘쳐도 숨겨서 스크롤 생기지 않도록 설정*/
#topCarousel{
    overflow: hidden;
}
#topCarousel .carousel-item:nth-of-type(1){
    background: url(../img/carousel_01.jpg) no-repeat center /cover;
    height: 100vh;
}
 #topCarousel .carousel-item:nth-of-type(2){
    background: url(../img/carousel_02.jpg) no-repeat center /cover;
    height: 100vh;
}
 #topCarousel .carousel-item:nth-of-type(3){
    background: url(../img/carousel_03.jpg) no-repeat center /cover;
    height: 100vh;
}
/*7.캐로셀 안에 캡션대신 넣은 이미지 위치 맞추기*/
#topCarousel .carousel-item .carousel-caption{
    position: absolute;
    bottom: 50px; 
}
/*8.캐로셀 배경 이미지를 어둡게 하여 위의 이미지 컨텐츠 부각시키기*/
#topCarousel .carousel-item::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
}
/*9.캐로셀 좌우 버튼을 마우스 올리면 나타나도록 설정*/
#topCarousel .carousel-control-next{
    right: -200px;
    transition:right 1s;
}
#topCarousel .carousel-control-prev{
    left: -200px;
    transition:left 1s;
}
#topCarousel:hover .carousel-control-next{
    right: 0;
}
#topCarousel:hover .carousel-control-prev{
    left: 0;
}
/*11.캐로셀 좌우 버튼 호버시 색상 바꾸기*/
#topCarousel .carousel-control-next:hover, #topCarousel .carousel-control-prev:hover{
    color:var(--blue);
}
/*12.캐로셀 하단 인디케이터 버튼 활성화시 스타일 변경*/
#topCarousel .carousel-indicators li.active{
    background-color: var(--blue);
}
/*16.loading img 위치잡기*/
.loading{
    height: 100vh;
}
.loading .d-flex img{
    width: 700px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
}
/*21.navbar 배경색을 customize*/
/*.bg-blue{
    background-color: var(--lightblue);
}*/

/*25.navbar의 height를 설정하고 txt의 스타일 변경*/
.navbar-nav .nav-link{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: var(--gray);
}
.navbar-light .navbar-nav .nav-link{
    color:var(--blue);
}
/*29.세번째 메뉴의 배경이미지*/
section#mineral{
    background: url(../img/menu3_bg.jpg) center /cover;
    background-attachment: fixed;
}
/*31.scrollspy를 위한 설정*/
body{
    position: relative;
    height: 100vh;
}
/*제품이미지에 마우스 오버했을때*/
section#product div.container div.row img.move:hover{
    transform: scale(1.1);
    transition:transform ease .8s;
    opacity:85%;
}
/*다섯번째 메뉴의 배경이미지*/
section#recycle{
    background:url(../img/menu5_bg.png) center /cover;
    background-attachment: fixed;
}
/* 가로스크롤 없애기*/
html,body{
            overflow-x: hidden;
            /*overflow: hidden;*/
        }
section#recycle div.container div.row div.col img{
    cursor: pointer;
}
.wp1,.wp2,.wp3,.wp4,.wp5,.wp6,.wp7,.wp8,.wp9{
    /*visibility: hidden;*/
}
.animate__animated{
    /*visibility: visible;*/
}